*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  background-color: #f1aa27;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', 'Open Sans'; }

.contenedor {
  background-color: #fafafa;
  display: flex;
  height: 400px; }

.wallets {
  padding: 2rem 2rem 0;
  overflow: auto;
  background-color: #eaeaea; }
  .wallets:hover {
    overflow-y: scroll; }
    .wallets:hover::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px #222; }
  .wallets::-webkit-scrollbar {
    width: 5px; }
  .wallets::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #eaeaea; }
  .wallets::-webkit-scrollbar-thumb {
    background-color: #eaeaea;
    outline: 1px solid slategrey; }
  .wallets__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; }
  .wallets__title {
    display: inline;
    font-size: 20px;
    font-weight: 400; }
  .wallets__add {
    background-image: url("../img/plus.svg");
    background-repeat: no-repeat;
    width: 32px;
    background-color: transparent;
    border: none;
    cursor: pointer; }
  .wallets__item {
    padding: 10px;
    background-color: #fafafa;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    min-width: 200px; }
  .wallets__imagen {
    width: 40px;
    margin-bottom: 1rem; }
  .wallets__number {
    margin-bottom: 1rem; }
  .wallets__number, .wallets__fecha {
    font-size: 12px; }

.balance {
  padding: 2rem 2rem 0;
  overflow-y: scroll; }
  .balance:hover {
    overflow-y: scroll; }
    .balance:hover::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px #222; }
  .balance::-webkit-scrollbar {
    width: 5px; }
  .balance::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #fff; }
  .balance::-webkit-scrollbar-thumb {
    background-color: #fff;
    outline: 1px solid slategrey; }
  .balance__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem; }
  .balance__title {
    font-size: 20px;
    font-weight: 400; }
  .balance__monto {
    font-weight: 700;
    font-size: 24px; }
    .balance__monto--size-regular {
      font-size: 18px; }
    .balance__monto--color-menos {
      color: #4851cc; }
    .balance__monto--color-mas {
      color: #42da56; }
  .balance__body {
    border-top: 1px solid #ccc;
    padding-top: 1rem; }
  .balance__accion {
    border: 1px solid #ccc;
    border-radius: 50%; }
  .balance__info {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 400px; }
  .balance__producto {
    font-size: 24px;
    font-weight: 700; }
  .balance__descripcion {
    font-size: 12px;
    color: gray;
    font-weight: 300; }
